In [ ]:
#iteration:
#loops
- reapeted seqence of intructions until a specific conditions tatisfies.
1.for loop
2.while loop
3.nested for loop

In [ ]:
# for loop
- for loop is used in the case where we need to execute some part pf the code until the line given condition satisfied
-

In [ ]:
for i in range (n,m):
    statement

In [1]:
 for i in range(1,10):
        print(i)

1
2
3
4
5
6
7
8
9

In [3]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [5]:
for i in range (1,10+1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [6]:
for i in range (1,10,2):
    print(i,end=" ")

1 3 5 7 9

In [7]:
for i in range(1,10,3):
    print(i,end=" ")

1 4 7

In [8]:
for i in range(1,10,4):
    print(i,end=" ")

1 5 9

In [9]:
for i in range(2,10):
    print(i,end=" ")

2 3 4 5 6 7 8 9

In [12]:
# even numbers
for i in range(2,10,2):
    print(i,end=" ")

2 4 6 8

In [13]:
for i in range(2,11,2):
    print(i,end=" ")

2 4 6 8 10

In [14]:
for letter in "hello world":
    print(letter,end=" ")

h e l l o   w o r l d

In [15]:
for letter in 1,2,3,4,5:
    print(letter,end=" ")

1 2 3 4 5

In [19]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [20]:
# odd numbers
for i in range(1,11,2):
    print(i,end=" ")

1 3 5 7 9

In [22]:
#natural numbers
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")

100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [23]:
n=int(input())
for i in range(1,n+1):
    print(i*5,end=" ")

5
5 10 15 20 25

In [24]:
n=int(input())
for i in range(1,n+1):
    print(i**2,end=" ")

5
1 4 9 16 25

In [25]:
ord('a')

97

In [26]:
ord('A')

65

In [28]:
ord('r')

114

In [33]:
#average
n=int(input())
m=int(input())
for i in range(n,m+1):
    s=0
for i in range(n,m+1):
    s+=i # s=s+i
    print(s)

1
5
1
3
6
10
15

In [ ]:
1,11
1,2,3,4,5,6,7,8,9,10
s=s+i
s=0+1=1
s=1+2=3
s=3+3=6
s+6+4=10
s=10+5=15

In [34]:
#m-n+1
5-5+1

1

In [35]:
n=int(input())
m=int(input())
for i in range(n,m+1):
    s=0
for i in range(n,m+1):
    s+=i # s=s+i
    print(s/(m-n+1))

1
5
0.2
0.6
1.2
2.0
3.0

In [38]:
a=input('enter the string:')
s=0
for i in a:
    s=s+ord(i)
    print(a,'sum is',s)

enter the string:ramya
ramya sum is 114
ramya sum is 211
ramya sum is 320
ramya sum is 441
ramya sum is 538

In [39]:
#while loop
n=2
while n<5:
    print('hello Reigns')
    n+=1

hello Reigns
hello Reigns
hello Reigns

In [ ]:
#while loop
intialization
while(condition):
    statement
    incrememnt/decrement

In [40]:
n=2
while n<=5:
    print('hello Reigns')
    n+=1

hello Reigns
hello Reigns
hello Reigns
hello Reigns

In [4]:
n=2
while n<=5:
    if n%2==0:
        print(n,"is even")
    else:
        print(n,"is odd")
    n+=1

2 is even
3 is odd
4 is even
5 is odd

In [ ]:
# nested loop
#syn:
for val in sequence:
    for val in sequence:
        statement
statements

In [13]:
for i in range(1,6):
    for j in range(0,i):
            print(i,end=" ")
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [21]:
 for i in range(1,6):
    for j in range(0,i):
         print("*",end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [22]:
 r=5
for i in range(0,r):
    for j in range(0,i+1):
         print("*",end=" ")
    print('')
for i in range(r,0,-1):
    for j in range(0,i-1):
         print("*",end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [23]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [24]:
for i in range(100,0,-1):
    print(i,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [31]:
n=int(input())
for i in range (1,n+1):
    print("******")
    print("*    *")
    print("*    *")
    print("******")
    print("*    *")
    print("*    *")

2
******
*    *
*    *
******
*    *
*    *
******
*    *
*    *
******
*    *
*    *

In [4]:
n=int(input())
for i in range (1,n+1):
    print("*    *")
    print("*    *")
    print("******")
for i in range(n):
    print("*    *")
    print("*    *")

2
*    *
*    *
******
*    *
*    *
******
*    *
*    *
*    *
*    *